{{- with .cxt}} {{/* Apply proper context from dict */}}
{{- if (and .Params.cover.image (not $.isHidden)) }}
{{- $alt := (.Params.cover.alt | default .Params.cover.caption | plainify) }}

{{- if  $.Isarchives }}
    <style>
        .entry-cover img {
            width: 100%;
            max-width: 120px !important;
        }

        figure {
            width: 20%;
        }
    </style>
{{- end }}

<figure class="entry-cover" style="margin: 0px; margin-right: 20px; height: auto;">
    
    {{- $responsiveImages := (.Params.cover.responsiveImages | default .Site.Params.cover.responsiveImages) | default true }}
    {{- $addLink := (and .Site.Params.cover.linkFullImages (not $.IsHome)) }}
    {{- if $addLink }}
        <a href="{{ (.Params.cover.image) | absURL }}" target="_blank" rel="noopener noreferrer">
    {{ end -}}
    
    <img loading="lazy" src="{{ (.Params.cover.image) | absURL }}" alt="{{ $alt }}" >
    
    
    {{- if $addLink }}</a>{{ end -}}
    {{/*  Display Caption  */}}
    {{- if not $.IsHome }}
        {{ with .Params.cover.caption }}<p>{{ . | markdownify }}</p>{{- end }}
    {{- end }}
</figure>
{{- end }}{{/* End image */}}
{{- end -}}{{/* End context */ -}}
