
{{- if not .Date.IsZero -}}
<span style='text-transform : capitalize;' title='{{ .Date }}'>{{ .Date | time.Format (default "2 January 2006" .Site.Params.DateFormat) }}</span>
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
<span>&nbsp;·&nbsp;</span>
<span>{{ .ReadingTime | default (printf "%d min" .ReadingTime) }} min</span>
{{- end }}

{{- if (.Param "ShowWordCount") -}}
<span>{{ .WordCount | default (printf "%d words" .WordCount) }} words </span>
{{- end }}

{{- if (.Param "ShowAuthor") -}}
<span>&nbsp;·&nbsp;</span>
{{ (partial "author.html" .) }}
{{- end }}