{{- if .IsTranslated -}}
{{- if (ne .Layout "search") }}
    {{- if (.Param "isapage") }}
        &nbsp;|&nbsp;
    {{- end}}
    
{{- end }}
<ul class="i18n_list">
    {{- i18n "translations" | default "Translations" }}:
    {{- range .Translations }}
    <li>
        <a href="{{ .Permalink }}">
            {{- if (and $.Site.Params.displayFullLangName (.Language.LanguageName)) }}
            {{- .Language.LanguageName | emojify -}}
            {{- else }}
            {{ .Language.Params.languageAltTitle | default (.Language.LanguageName | emojify) | default (.Lang | title) }}
            {{- end -}}
        </a>
    </li>
    {{- end }}
</ul>
{{- end -}}
