{{- define "main" }}

<style>
    .main {
        max-width: 100%;
    }

    .not-found{
        position: static;
        font-size: 295px;
    }
</style>

<!-- OUI C'EST UN O AHAHHAHA-->

<div class="not-found" style="flex-direction: column; width: 100%; text-align: center; overflow: hidden; word-break: keep-all; " >
    <span style="min-width: 600px;">4O4</span>
    <p style="font-size: 30px;">Vous êtes perdu... <br>Mais sinon en attendant vous pouvez toujours vous amuser à calculer fibonacci(404) !</p>
</div>
{{- end }}{{/* end main */ -}}
