<script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
<link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
<style>
    .cactus-container {
        margin-top: 50px;
    }
</style>
<div id="comment-section" style="margin-top: 50px;"></div>
<script>
initComments({
  node: document.getElementById("comment-section"),
  defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
  serverName: "cactus.chat",
  siteName: "axthauvin",
  commentSectionId: "{{ index .Params 0 }}"
})
</script>