
<style>
    .svg {
        width: 3vh;
        
        vertical-align: middle;
    }
    .admonition {
        margin-top: 20px;
        padding: 0px;
        margin-bottom: 20px;
        border-radius: 4px;
        text-align: left;
        border: 0px;
        border-left: 5px solid;
        border-color: #438afe;
        color: #757783;
        background-color: #2c3441;
        
    }

    .admonition h3 {
        margin-top: 0px;
        padding: 5px;
        padding-left: 10px;
        background-color: #2e3c56;
    }

    .admonition p {
        padding-left: 10px;
        padding-bottom: 16px;
    }


    .admonition.note { 
        color: #a9a9b3;
        background-color: #24393a;
        border-color: #0bbaa2;
        
    }

    .note h3 {
        background-color: #204744;
    }

    .admonition.warning { 
        color: #a19ea5;
        background-color: #3f3529;
        border-color: #fc9105;
    }

    .warning h3 {
        background-color: #523e25;
    }

    .admonition.danger { 
        color: #a598a3;
        background-color: #3f2830;
        border-color: #f91944;
    }

    .danger h3 {
        background-color: #512630;
    }

    .admonition-title {
        font-weight: bold;
        text-align: left;
    }
</style>


<div class="admonition {{.Get `type`}}" >
    <h3 id="{{.Get `titre`}}">{{.Get `titre`}} </h3>
    <p>{{.Inner}}</p>
       
</div>
